body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
	max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

span.field-validation-error + input.form-control,
span.field-validation-error + div.input-group input.form-control {
	border-color: #b94a48;
}

span.field-validation-error + input.form-control:focus,
span.field-validation-error + div.input-group input.form-control:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px  #b94a48;
}

span.field-validation-error {
	position: absolute;
	border: 1px solid #b94a48;
	border-radius: 4px;
	background: white;
	top: 40px;
	left: 30px;
	z-index: 100;
	padding: 6px;
	display: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px  #b94a48;
}

div.form-group:hover span.field-validation-error {
	display: block;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

#alertContainer, #dialogsContainer {
	position: absolute;
	bottom: 10em;
	left: 0;
}

.error-template {
	padding: 40px 15px;
	text-align: center;
}

.error-actions {
	margin-top: 15px;
	margin-bottom: 15px;
}

nav > .container > .navbar-collapse {
	position: relative;
	padding-right: 38px !important;
	margin-left: 14em;
}

.navbar-collapse form[role="search"] {
	position: absolute;
	right: 0;
	padding: 0;
	margin: 0;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
	padding: 8px 12px;
	border-radius: 0;
	color: rgb(119, 119, 119);
	background-color: #f8f8f8;
	border: 0 #e7e7e7;
	box-shadow: none;
	outline: none;
}

.navbar-collapse form[role="search"] input {
	padding: 16px 12px;
	font-size: 14pt;
	font-style: italic;
	color: #a0a0a0;
	box-shadow: none;
}

.navbar-collapse form[role="search"] button[type="reset"] {
	display: none;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
	padding: 15px 12px;
}

.navbar-collapse form[role="search"] input {
	font-size: 18pt;
	opacity: 0;
	display: none;
	height: 50px;
}

.navbar-collapse form[role="search"].active button,
.navbar-collapse form[role="search"].active input {
	display: table-cell;
	opacity: 1;
}

